AI Resume Screening System.json
{
  "name": "AI Resume Screening System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        -64
      ],
      "id": "c248adc8-9d8f-4b93-bd78-6d61f8455660",
      "name": "Gmail Trigger",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "8TPbDc1yEfGwYmY3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        320,
        -32
      ],
      "id": "014eba5b-62fa-43d3-8ec4-631ea421c84c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        112,
        -48
      ],
      "id": "5a7e4d29-a32c-4686-af2a-9311289533a8",
      "name": "Get a message",
      "webhookId": "8b52c359-de22-4738-8df6-15c1083c4633",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "8TPbDc1yEfGwYmY3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        176
      ],
      "id": "7c7e6b6c-91d2-4256-8ca1-2de89a3a05da",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "M4ILLOaAmsdbocCz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this resume:\n\n{{ $json.text }}\n\nReturn ONLY valid JSON.\n\n{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"education\": \"\",\n  \"experience_years\": 0,\n  \"skills\": [],\n  \"strengths\": \"\",\n  \"weaknesses\": \"\",\n  \"resume_score\": 0,\n  \"interview\": \"\",\n  \"reason\": \"\"\n}",
        "options": {
          "systemMessage": "You are an expert HR recruiter.\n\nAnalyze the resume and return ONLY valid JSON.\n\nRules:\n- resume_score must be an integer between 0 and 100.\n- interview must ONLY be \"YES\" or \"NO\".\n- If resume_score >= 75 then interview = \"YES\".\n- Otherwise interview = \"NO\".\n- experience_years must be a number.\n- skills must be an array of strings.\n- Return no markdown.\n- Return no explanations.\n- Return no code fences.\n- Return only the JSON object.\n\nReturn exactly this schema:\n\n{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"education\": \"\",\n  \"experience_years\": 0,\n  \"skills\": [],\n  \"strengths\": \"\",\n  \"weaknesses\": \"\",\n  \"resume_score\": 0,\n  \"interview\": \"\",\n  \"reason\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -32
      ],
      "id": "41d8f6a1-7b38-4d6e-b509-53101b7437d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output;\n\n// Find the JSON block inside the AI response\nconst match = text.match(/\\{[\\s\\S]*?\\n\\}/);\n\nif (!match) {\n  throw new Error(\"No JSON found in AI output.\");\n}\n\nconst data = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: data\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -32
      ],
      "id": "7f87188f-5a05-4094-836b-269b7c04ae12",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1kVO1JLfHgTv0Gms62mo0sD1yGiYZ4b1f8YLFF9izKwE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1kVO1JLfHgTv0Gms62mo0sD1yGiYZ4b1f8YLFF9izKwE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Education": "={{ $json.education }}",
            "Experience": "={{ $json.experience_years }}",
            "Skills": "={{ $json.skills.join(\", \") }}",
            "Score": "={{ $json.resume_score }}",
            "Interview": "={{ $json.interview }}",
            "Strengths": "={{ $json.strengths }}",
            "Weaknesses": "={{ $json.weaknesses }}",
            "Reason": "={{ $json.reason }}",
            "Resume Date": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview",
              "displayName": "Interview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weaknesses",
              "displayName": "Weaknesses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume Date",
              "displayName": "Resume Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -32
      ],
      "id": "98eee0c2-9d8e-49f5-8350-625b35825155",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WArvv5P40yiQ8Gtk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99374998-02c6-4e67-9775-c11004ff1950",
              "leftValue": "={{ $json.Interview }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e0c831d3-fa64-474b-948e-f913965ddc94",
              "leftValue": "={{ $json.Score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1280,
        -32
      ],
      "id": "9e30e6e8-5c7e-45d8-9b23-34ad980aaff3",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Congratulations! Interview Invitation",
        "message": "=Dear {{ $json.Name }},  Congratulations!  We reviewed your resume and are pleased to invite you to the next stage of our hiring process.  Our team will contact you shortly with the interview details.  Best regards, HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        -128
      ],
      "id": "bee3abc5-37c5-4578-923b-102d63d3c050",
      "name": "Send a message",
      "webhookId": "5d738fb8-b643-45d9-9bd6-81fb723049fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "8TPbDc1yEfGwYmY3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Application Update",
        "message": "=Dear {{ $json.Name }},  Thank you for your interest in our company.  After reviewing your resume, we have decided not to move forward with your application at this time.  We appreciate your time and wish you success in your job search.  Best regards, HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        64
      ],
      "id": "6f92ebaa-9318-4285-ad24-2de188b8ed67",
      "name": "Send a message1",
      "webhookId": "e8d226d0-e452-45cf-8fdf-c89223b9ce46",
      "credentials": {
        "gmailOAuth2": {
          "id": "8TPbDc1yEfGwYmY3",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1082e197-0174-4b67-9073-89537b9acdd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35c649b971ef49fbe97bc0d5d50997810ecc69fa296358c55100e155d428d8bf"
  },
  "nodeGroups": [],
  "id": "vrLLjloZJ2D4fYJi",
  "tags": []
}